#Banner {
	// Set Height to 100% viewheight minus the Header height
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// Provocative Picture Background
	background-image: url(https://cdn.shopify.com/s/files/1/0258/6132/4905/files/hangten-newarrivals-home-750x1100_x800.jpg?v=1591751340);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	// New Arrivals text and Buttons
	.banner-content {
		padding: 0 24px;
		text-align: center;
		h2 {
			color: #ffefca;
			margin-top: -0.325em;
			font-family: "Cooper BT";
			font-weight: 900;
			font-style: italic;
			letter-spacing: .1rem;
			line-height: 1.65;
		}
		.button-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
		}
	}
}

#BannerSlim {
	.button-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
}