$mainFont: 'Monsterrat', sans-serif;
$primaryColor: #387bbf;


header {
    position: relative;
    width: 100%;
    height: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #1D67A8;

    div {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        h2 {
            width: 100%;
            height: auto;
            position: absolute;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
        h3 {
            width: 100%;
            height: auto;
            padding-top: 20px;
            position: absolute;
            top: 33%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    }

}

.Main-Header {
    width: 100%;
    height: 100px;
}

.Other-Header {
    background-color: white;
    width: 100%;
    height: 60px;
    
}

.sep {
    border-bottom: solid gray 1px;
    width: 90%;
    left: 5%;
}

.Title-Header {
    color: white;
    top: 33%;
    height: 100%;

    font: {
        size: 24px;
        family: $mainFont;
    }
}

.Product-Header {
    color: black;

    font: {
        size: 22px;
        family: $mainFont;
    }
}

.Sub-Header {
    color: black;

    font: {
        size: 16px;
        family: $mainFont;
    }
}

.No-Sub {
    display: none;
}

.Bold {
    font-weight: bold;
}

.Padding {
    padding-top: 30px;
}

@media screen and (max-width: 424px) {

    .Title-Header {
        font-size: 18px;
    }

}

@media screen and (max-width: 320px) {

    .Title-Header {
        font-size: 12px;
        top: 50%;
    }

}