$mainFont: Comic Sans MS;
$mainFontColor:#1e2b43;
footer {
    display: flex;
    flex-wrap: wrap;
    background-color:#1D67A8;
    color:$mainFontColor;
    padding: 2rem .5rem 2rem 1rem;
    position: relative;
    bottom:0;
    display:flex;
    justify-content: center;

}
.about{
    width:300px;
    text-align: center;
    justify-content: center;
    font-family: $mainFont;

}
.contactUs{
    width:300px;
    text-align: center;
    justify-content: center;
}
li{
    list-style-type: none;

}
li a{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color:$mainFontColor;
    margin-right: 40px;
    font-family: $mainFont;
}

