.img-div-home {
    background-color: #cbc9c9;
    width: 300px;
    height: 345px;
    padding: 5px 3px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}