$color:  #1f7bc5;
$hover-color: rgb(95, 171, 117); 
$dark-blue: rgb(0, 38, 72);
$font: "ITC Avant Garde Gothic",sans-serif;


nav {
    background-color: $color;
    margin-bottom: 0px;

    .cart {
        position: absolute;
        top: 33px;
        right: 25px;
        font-size: 37px;
        color: black;
    }

    .cart:hover {
        color: $hover-color;
        cursor: pointer;
    }
}

.tagline {
    background-color: $dark-blue;
    height: 50px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
        color: white;
        text-align: center;
    }
}

.nav-item-wrapper {
    position: absolute;
    top: 11px;
    left: 70px;

    .top-menu {
        display: flex;
    
        li {
            list-style-type: none;
            padding: 15px;
            font-size: 16px;
            a {
                text-decoration: none;
                color: $dark-blue;
                font-family: $font;
            }
            a:hover {
                color: $hover-color;
            }
        }
    }
}

@media screen and (max-width: 799px) {
    nav {
        .cart {
            position: absolute;
            right: 80px;
        }
    }
}