$color: #1f7bc5;
$hover-color: rgb(95, 171, 117);
$dark-blue: rgb(0, 38, 72);

.NewProductForm {
    margin-top: 20px;
    width: 100vw;
    max-width: 100% !important;
    height: auto;
    display: flex;
    align-items: center;

    .NewInfo {
        width: 310px;
        height: auto;

        .InputItem {
            display: block;
            width: 100%;
            height: auto;
            color: $dark-blue;

            span {
                display: block;
                width: 100%;
                margin: 0px;
                font-weight: bold;
            }

            input[type="text"],
            input[type="number"],
            .photo-upload,
            select {
                width: 100%;
                height: 39px;
                outline: none;
                border: solid 2px $dark-blue;
                margin: 8px 0px;
                padding: 6px 12px !important;

                border: {
                    radius: 0px;
                }
            }
            .photo-upload {
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                input[type="file"] {
                    width: fit-content;
                }
            }
        }
    }

    .size-quantity {
        align-items: center;
        text-align: center;

        span {
            margin: 20px 15px;
        }

        input[type="checkbox"] {
            width: 14px;
            height: 14px;
            margin: 5px 2px 5px 25px;
        }

        input[type="number"] {
            width: 50px;
            height: 21px;
            border: solid 1px $dark-blue;
            margin: 5px 10px 5px 15px;
        }

        input[type="text"] {
            border-radius: 0;
            width: 70px;
            height: 21px;
            margin: 5px 5px 5px 15px;
            padding: 12px;
        }

        #newSize,
        #newPrice,
        #newName {
            width: 120px;
        }

        .newPrice {
            margin: 20px 30px 20px 15px !important;
        }

        #newPrice {
            margin-left: 50px;
        }

        label {
            margin: 5px 20px 5px 0px;
        }
    }

    button {
        width: fit-content;
        height: 4vh;
        min-height: 30px;
        display: block;
        border: none;
        border-radius: 5px;
        background-color: $color;
        color: white;
        margin: 6px auto 12px;
        padding: 0px 15px;
        cursor: pointer;

        font: {
            size: 16px;
            weight: bold;
        }
    }

    table {
        overflow-x: scroll;
        border: 1px solid black;
        border-collapse: collapse;

        th {
            background-color: $color;
            border: 1px solid black;
            border-collapse: collapse;
            padding: 2px 4px;
        }
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 2px 6px;
        }
        > :nth-child(even) {
            background-color: white;
        }
        > :nth-child(odd) {
            background-color: lightgray;
        }
        > :first-child {
            background-color: gray;
        }
    }
    input[type="submit"] {
        width: fit-content;
        height: 5vh;
        min-height: 36px;
        display: block;
        border: none;
        border-radius: 5px;
        background-color: $color;
        color: white;
        margin: 12px auto;
        cursor: pointer;
        background-image: url("../utils/images/add\ 1.png");
        background-repeat: no-repeat;
        background-position: 95%;
        padding-right: 45px;
        padding-left: 20px;
        padding-top: 4px;

        font: {
            size: 18px;
            weight: bold;
        }
    }

    input {
        width: 10vw;
    }
}

.sketch-picker {
    margin: 5px;
}

//swatches size
.sketch-picker > div + div > div + div {
    width: 22px !important;
    height: 22px !important;
}

//swatches row
.sketch-picker > div + div + div + .flexbox-fix {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .NewProductForm {
        input[type="submit"] {
            width: 100%;
            margin: 20px auto 0px;
            background-position: 70%;
            padding-right: 0px;
            border-radius: 0;
        }
        
    }
}

@media screen and (max-width: 480px) {
    .NewProductForm {
        input[type="submit"] {
            background-position: 75%;
        }
    }
}

@media screen and (max-width: 390px) {
    .NewProductForm {
        input[type="submit"] {
            background-position: 80%;
        }
    }
}

@media screen and (max-width: 320px) {
    .NewProductForm {
        input[type="submit"] {
            background-position: 85%;
        }
    }
}

@media screen and (max-width: 280px) {
    .NewProductForm {
        input[type="submit"] {
            background-position: 90%;
        }
    }
}

@media screen and (max-width: 250px) {
    .NewProductForm {
        input[type="submit"] {
            background-position: 95%;
        }
    }
}


@media screen and (max-width: 570px) {
    table {
        width: 100vw;
    }
}
