.search-form {
    margin-right: 40px;
    position: absolute;
    top: 27px;
    right: 100px;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 8px;
    font-size: 24px;
    padding: 12px;
}

#search {
	width: 100%;
    padding: 12px;
    padding-left: 40px;
	font-size: 18px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}

.fa-times {
    font-size: 11px;
    position: absolute;
    right: -9px;
    top: 16px;
}

.fa-times:hover, .search-icon:hover {
    cursor: pointer;
}

.search-enter {
    display: none;
}

@media screen and (max-width: 1199px) {
    .search-form {
        top: 0px;
        right: 140px;
    }
}

@media screen and (max-width: 400px) {
    .search-form {
        top: 126px;
        right: -20px;
        width: 100%;
        margin-bottom: 30px;
    }
}